<div class="card">
  <img src="{{urlImages}}" class="card-img-top" alt="{{altImages}}Link Image" loading="lazy">
  <div class="card-body">
    <h5 class="card-title">{{{titleCard}}}</h5>
    <p class="card-text">{{{descriptionCard}}}</p>
    <a href="{{linkCard}}" class="{{classLink}}">{{{textButton}}}</a>
  </div>
</div>