<section class="layout-flex-region row {{{typeLayout}}}">

  {{#listItem}}
  <div class="layout-flex-region__item {{{colums}}}">
    <{{tagTitle}}>{{{title}}}</{{tagTitle}}>
    <{{tagDescription}}>{{{description}}}</{{tagDescription}}>
  </div>
  {{/listItem}}

</section>